# Module 0
- Foundational Python refresher...

#### For each of the following expressions, indicate the type of the expression. 
*While you could simply type these expressions into your shell, we encourage you to answer them directly since this will help reinforce your understanding of basic Python expressions.*

In [0]:
# 3.14
# Select an option NoneType int float bool
float

In [0]:
# -34
# Select an option NoneType int float bool
int

In [0]:
# True
# Select an option NoneType int float bool
bool

In [0]:
# None
# Select an option NoneType int float bool
NoneType

In [0]:
# 3.0
# Select an option NoneType int float bool
float

#### Conditional Statement Revisited

- 3 > 4

- 4.0 > 3.999

- 4 > 4

- 4 > + 4

- 2 + 2 == 4

- True and False

- False or False

- not False

- (3.0 - 1.0) != (5.0 - 3.0)

- 3 > 4 or (2 < 3 and 9 > 10)

- 4 > 5 or 3 < 4 and 9 > 8

- not(4 > 3 and 100 > 6)

In [0]:
# Write the answers below

In [0]:
false
true
false
false
true
false
false
true
false
false
true
false

#### ASSIGNMENT VS Conditionals

Ouput ??
```
a = 5
a == 5.0
a
```

In [0]:
5

Ouput ??
```
b = 10
c = b > 9
c
```

In [0]:
true

#### Advanced String manipulations Revisited

```
- "a" + "bc"

- 3 * "bc"

- "3" * "bc"

- "Abcd"[2]

- "Abcd"[0:2]

- "Abcd"[ :2 ]

- "Abcd"[2:]
```

In [0]:
"abc"
"bcbcbc"
error
c
Ab
Ab
cd

#### More on strings & slicing..

```
str1 = 'hello'
str2 = ','
str3 = 'world'
```

Part 1 - Answer the following

```
- str1[0]

- Str1[1]

- str1[-1]

- len(str1)

- str1[ len(str1)-1 ]

- str1[-1 : len(str1)-1 ]

- str1 + str2 + str3

- str1 + str2 + ' ' + str3

- str3 * 3

- 'hello' == str1

- 'HELLO' == str1

- 'a' in str3
```

In [0]:
h
error
o
5
o
''
hello,world
hello, world
worldworldworld
True
False
False

Part 2 - Answer the following

```
- str4 = 'helloworld'

- 'low' in str4

- str3[1:3]

- str3[:3]

- [str3:-1] #error

- str1[1:]

- str4[1:9] #elloworl

- str4[9:1:2] #error shld be -2 instead to get drwl

- Str4[::-1] # shld be str4
```

In [0]:
true
orl
worl

#### Conditionals

Ouput ??

```
if 6 > 7:
   print("Yep")
```

Ouput ??
```
if 6 > 7:
   print("Yep")
else:
   print("Nope")
```

In [0]:
Nope

Ouput ??
```
var = 'Panda'
if var == "panda":
   print("Cute!")
elif var == "Panda":
   print("Regal!")
else:
   print("Ugly...")
```

In [0]:
Regal!

Ouput ??
```
temp = 120
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable") 
else:
   print("Cold")
```

HOT

Output ??
```
temp = 50
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable")
else:
   print("Cold")

```

In [0]:
Cold

#### TELL ME THE OUTPUT OF THE FOLLOWING PROGRAM

Output ??
```
num = 5
if num > 2:
    print(num)
    num -= 1
print(num)

```

In [0]:
5
4

Output ??
```
num = 0
while num <= 5:
    print(num)
    num += 1

print("Outside of loop")
print(num)

```

In [0]:
0
1
2
3
4
Outside Loop
5

Output ??
```
numberOfLoops = 0
numberOfApples = 2
while numberOfLoops < 6:
    numberOfApples *= 2
    numberOfApples += numberOfLoops
    numberOfLoops -= 1
print("Number of apples: " + str(numberOfApples))
```

In [0]:
error

Output ??
```
num = 10
while num > 3:
   print(num)
   num -= 1

```

In [0]:
10
9
8
7
6
5
4

Output ??
```
num = 10
while True:
    if num < 7:
        print('Breaking out of loop')
        break
    print(num)
    num -= 1
print('Outside of loop')
```

In [0]:
10
9
8
7
Breaking out of loop
Outside of loop

Output ??
```
num = 100
while not False:
    if num < 0:
        Break
print('num is: ' + str(num))
```

In [0]:
error

#### WHILE LOOPS

```
Using while loops to write calculate the sum of first N numbers
Input = 10
Output = 1+2+3+4+5+6+7+8+9+10 = 55
```

In [4]:
Input = 10
Output=0
while(Input>0):
    Output=Output+Input
    Input -=1
print(Output)

55

In [2]:
# pass also means ...

1. Convert the following into code that uses a while loop.
```
print 2
prints 4
prints 6
prints 8
prints 10
prints Goodbye!
```

In [5]:
startNum = 2
while(startNum<=10):
    print(startNum)
    startNum+=2
print("Goodbye")

2
4
6
8
10
Goodbye

2. Convert the following into code that uses a while loop.
```
prints Hello!
prints 10
prints 8
prints 6
prints 4
prints 2
```

In [7]:
print("Hello")
num = 10
while(num>=2):
    print(num)
    num-=2

Hello
10
8
6
4
2

#### USE For Loops to do the same .

**Refer to previous exercise**

In [11]:
 
for number in range(1,11):
    if(number%2==0):
        print(number)
print('Goodbye')

2
4
6
8
10
Goodbye

In [14]:
print("Hello")
for number in range(10,0,-2):
        print(number)

Hello
10
8
6
4
2

#### Guess the output of for loops

1. 
```python
num = 10
for num in range(5):
    print(num)
print(num)
```
--- 

2. 
```python
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```python
for variable in range(20):
    if variable % 4 == 0:
        print(variable)
    if variable % 16 == 0:
        print('Foo!')
```
---

4. 
```python
for letter in 'hola':
    print(letter) 
```
---

5. 
```python
count = 0
for letter in 'Snow!':
    print('Letter # ' + str(count) + ' is ' + str(letter))
    count += 1
    break
print(count)
```

In [0]:
0
1
2
3
4
4

In [ ]:
0
1
2
3
4

In [ ]:
0
Foo!
4
8
12
16
Foo!

In [ ]:
h
o
l
a

#if letter in ['hola']
#output is hola

In [ ]:
Letter # 0 is S
1

#### Python dict


Given the following code...

```python
animals = {
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati'
          }

animals['d'] = 'donkey'
animals['b'] = 'donkey'

```

#### Guess the output with respect to the given dict..

1. 
```
animals
```
--- 

2. 
```
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```
animals['donkey'] 
```
---

4. 
```
len(animals)
```
---

5. 
```
animals['a'] = 'anteater'
```
---

6. 
```
len(animals['a'])
```
---

7. 
```
'baboon' in animals #false
```
---

8. 
```
 'donkey' in animals.values() #True
```
---

9. 
```
'b' in animals #true
```
---
10. 
```
animals.keys()
```
---
11. 
```
del animals['b']
len(animals)
animals
```
---
12. 
```
animals.values()
```

In [0]:
## Outputs...
{
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati',
            'd':'donkey'
          }

In [ ]:
error

In [ ]:
4

In [ ]:
{
            'a': 'anteater',
            'b': 'baboon',
            'c': 'coati',
            'd':'donkey'
}

In [ ]:
3

In [ ]:
NONE

In [ ]:
2

In [ ]:
None

In [ ]:
a,b,c,d

In [ ]:
3
{
            'a': 'anteater', 
            'c': 'coati,
            'd':'donkey'
          }

In [ ]:
 'anteater', 'baboon', 'coati','donkey'

In [5]:
#to convert dict values to a list => list(animal.values())[0] to get anteater value

#### Tuples...

Assume we've made the following assignment:

```python
x = (1, 2, (3, 'John', 4), 'Hi')
```


Ouput ???

- x[0]
---
- x[2]
---

- x[-1]
---

- x[2][2]
---

- x[2][-1]
---

- x[-1][-1]
---

- x[-1][2]
---

- x[0:1]
---

- x[0:-1]
---

- len(x)
---

- 2 in x
---

- 3 in x
---

- x[0] = 8
---
```

In [0]:
1

In [0]:
(3, 'John', 4)

In [ ]:
'Hi'

In [0]:
John

In [ ]:
4

In [ ]:
i

In [ ]:
error index out off range

In [ ]:
1

In [ ]:
err

In [ ]:
4

In [ ]:
True

In [ ]:
False

In [ ]:
x = (8, 2, (3, 'John', 4), 'Hi')

## Code Snip

### Code Snippets 01

- Write a piece of Python code that evaluates varA and varB, and then prints out one of the following messages:

1. "string involved" if either varA or varB are strings
2. "bigger" if varA is larger than varB
3. "equal" if varA is equal to varB
4."smaller" if varA is smaller than varB

In [3]:
varA = float(input("please input varA: "))
varB = float(input("please input varB: "))

if(type(varA)== str or type(varB) == str):
    print("string involved")
elif(float(varA)>float(varB)):
    print("bigger")
elif (float(varA)==float(varB)):
    print("equal")
else:
    print("smaller")

please input varA: 3
please input varB: 2
bigger

###  Code Snippets 02
- Assume `s` is a string of lower case characters.
- Write a program that counts up the number of vowels contained in the string s. 
- Valid vowels are: 'a', 'e', 'i', 'o', and 'u'. 
- For example, if s = 'azcbobobegghakl', your program should print:
- Number of vowels: 5

In [7]:
s = input("please input s : ")
Output = 0
for item in s:
    if (item=='a' or item == 'e' or item == 'i' or item=='o' or item == 'u'):
        Output+=1

#Output = 'a' in s + 'e' in s + 'i' in s + 'o' in s + 'u' in s
print(Output)

please input s : azcbobobegghakl
5

In [8]:
s.count('a') + s.count('e') + s.count('i') + s.count('o') + s.count('u')

5

In [10]:
list(map(len,["hello","world"]))

[5, 5]

In [12]:
sum(map(s.count, ['a','e','i','o','u']))

5

In [17]:
def mymap(func, collection):
    return [func(item) for item in collection]

In [18]:
sum(mymap(s.count,['a','e','i','o','u']))

5